<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.fek12.evaluation">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="design_width_in_dp"
            android:value="960" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="600" />


        <activity android:name=".view.activity.SplashActivity"
            android:theme="@style/LauncherTheme"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.EvaluationDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.AutonomyEvaluationListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.EvaluationListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.WebViewActivity"
            android:theme="@style/TransparentTheme"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.activity.TreeViewDialogActivity"
            android:screenOrientation="landscape"
            android:theme="@style/share_activity_styles"/>

        <activity
            android:name=".view.activity.MenuDialogActivity"
            android:screenOrientation="landscape"
            android:theme="@style/share_activity_styles"/>
        <activity
            android:name=".view.activity.FullScreenVideoPlayActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.activity.SpecialVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.MicroLessonMoreActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.MicroLessonTreeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.VideoPlayListActivity"
            android:exported="true"
            android:screenOrientation="landscape" >
            <intent-filter>
                <!-- 自定义action -->
                <action android:name="app.intent.action.VIDEO_LIST_VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.RemedialPracticeWebActivity"
            android:exported="true"
            android:screenOrientation="landscape" >
            <intent-filter>
                <!-- 自定义action -->
                <action android:name="app.intent.action.REMEDIAL_PRACTICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ConqueredActivity"
            android:exported="true"
            android:screenOrientation="landscape" >
            <intent-filter>
                <!-- 自定义action -->
                <action android:name="app.intent.action.CONQUER_VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.AnswerWebViewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.CommonWebViewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.RankingListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.ExerciseNotesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.CommonWebViewBackActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.PersonalReportWebViewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.PrimarySchoolSynchroVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.RiseMiddleSchoolVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.CompositionTreasureVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.CommonVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.MicrolessonVideoPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.PrepareExaminationActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>